@media screen and (min-width: 769px), print {
    .teamspeakViewerOverview {
		// columns: auto;
		// column-gap: 40px;
        // column-rule: 1px solid #4179ad;
        // column-width: 450px;
		// margin-top: 40px;
		display:flex;

		.section {
			// break-inside: avoid;
			// margin-bottom: 20px;
			// margin-top: 0;
			// overflow: hidden;
			// page-break-inside: avoid;
			width: 50%;
			margin-top: 0;
		}

		.section:nth-of-type(1)
		{
			padding-right: 20px;
			border-right: 1px solid #4179ad;
		}

		.section:nth-of-type(2)
		{
			padding-left: 20px;
		}
	}

	#TeamSpeakServerInfo {
		margin-top: 0;
	}
}

.teamspeakViewerOverview {
	padding: 10px;
}

.teamspeakViewerOverview .section .section > .sectionTitle {
	border-bottom-width: 0;
    margin-bottom: 0;
}

.channelWrapper, .groupWrapper {
	display: flex;
	cursor: default;

	img {
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}

	.channelCollapse, .channelSubscription  {
		width: 20px;
		flex: 0 0 auto;
	}

	.channelName {
		flex: 1 1 auto;
		white-space: nowrap;
		overflow: hidden;
	}

	.channelIcons {
		flex: 0 0 auto;
		min-width: 20px;
		margin-left: 5px;
		text-align: right;
	}

	.channelSpacerL {
		text-align: left;
	}
	.channelSpacerC {
		text-align: center;
	}
	.channelSpacerR {
		text-align: right;
	}

	.recording {
		color: #8C0000;
	}
}

.channelWrapper:hover {
	background: #EAEAEA;
}