@media screen and (min-width: 769px), print {
    .teamspeakViewerOverview {
		columns: auto;
		column-gap: 40px;
        column-rule: 1px solid #4179ad;
        column-width: 450px;
		margin-top: 40px;
	}
	.teamspeakViewerOverview > .section {
		break-inside: avoid;
		margin-bottom: 20px;
		margin-top: 0;
		overflow: hidden;
		page-break-inside: avoid;
	}
}

.teamspeakViewerOverview {
	padding: 10px;
}

.teamspeakViewerOverview .section .section > .sectionTitle {
	border-bottom-width: 0;
    margin-bottom: 0;
}

.channelWrapper {
	display: flex;

	img {
		width: 16px;
		height: 16px;
	}

	.channelCollapse {
		width: 20px;
		flex: 0 0 auto;
	}

	.channelSubscription {
		flex: 0 0 auto;
		width: 20px;
	}

	.channelName {
		flex: 1 1 auto;
		white-space: nowrap;
		overflow: hidden;
	}

	.channelIcons {
		flex: 0 0 auto;
		width: 20px;
		margin-left: 5px;
		text-align: right;
	}

	.channelSpacerL {
		text-align: left;
	}
	.channelSpacerC {
		text-align: center;
	}
	.channelSpacerR {
		text-align: right;
	}
}

.channelWrapper:hover {
	background: #EAEAEA;
}